.Aluno {
    position: relative;
    width: 280px;
}

.Aluno .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.Aluno img {
    width: 100px;
    height: 110px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.Aluno .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.Aluno .rodape h4 {
    color: #4D291E;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.deletar {
    cursor: pointer;
    position: absolute;
    right: -18px;
    top: -14px;
}

.deletar:hover {
    color: #754d42;
}